SUBSYSTEM=="block", KERNEL=="loop*", ATTR{loop/backing_file}=="*/fake_sensors/lidar.img", SYMLINK+="robot_lidar", MODE="0660", GROUP="disk"
SUBSYSTEM=="block", KERNEL=="loop*", ATTR{loop/backing_file}=="*/fake_sensors/imu.img", SYMLINK+="robot_imu", MODE="0660", GROUP="disk"